/* m3 tokens */

:root {
    --md-sys-color-primary: black;

    /* Circular Progress */
    --md-circular-progress-active-indicator-color: white;
    --md-circular-progress-size: 32px;

    /* Outlined Button */
    --md-outlined-button-container-shape: 5px;
    --md-outlined-button-label-text-font: system-ui;
    --md-outlined-button-hover-label-text-color: var(--color-text);
    --md-outlined-button-hover-state-layer-color: var(--color-primary);
    --md-outlined-button-hover-state-layer-opacity: 100;
    --md-outlined-button-outline-color: var(--color-secondary);
    --md-outlined-button-label-text-color: var(--color-secondary);

    /* Filled Button */
    --md-filled-button-container-shape: 5px;
    --md-filled-button-label-text-font: system-ui;
    --md-filled-button-container-color: var(--color-secondary);
    --md-filled-button-label-text-color: var(--color-text-secondary);
    --md-filled-button-hover-label-text-color: var(--color-text);
    --md-filled-button-hover-state-layer-color: var(--color-primary);
    --md-filled-button-hover-state-layer-opacity: 100;
    --md-filled-button-hover-container-elevation: 0;

    /* Text Button */
    --md-text-button-container-shape: 5px;
    --md-text-button-label-text-font: system-ui;
    --md-text-button-hover-label-text-color: var(--color-text);
    --md-text-button-pressed-label-text-color: var(--color-text);
    --md-text-button-hover-state-layer-color: var(--color-primary);
    --md-text-button-hover-state-layer-opacity: 100;
    --md-text-button-outline-color: #0e68b9;
    --md-text-button-label-text-color: var(--color-text);

    --md-text-button-disabled-label-text-color: var(--color-text);
    --md-text-button-disabled-label-text-opacity: var(--color-text);
    --md-text-button-focus-label-text-color: var(--color-text);

    /* Filled Text Field  */
    --md-filled-text-field-container-shape: 5px;
    --md-sys-color-surface-container-highest: hsl(0, 0%, 90%);
    --md-filled-text-field-label-text-color: #3f4948;
    --md-filled-text-field-input-text-color: #161d1d;
    --md-filled-text-field-input-text-font: system-ui;
    --md-filled-text-field-label-text-font: system-ui;
    --md-filled-text-field-focus-active-indicator-height: 0;
    --md-filled-text-field-top-space: 7px;
    --md-filled-text-field-bottom-space: 7px;



    /* Radio buttons */
    --md-radio-icon-color: grey;
    --md-radio-hover-icon-color: black;
    --md-radio-selected-icon-color: black;
    --md-radio-pressed-icon-color: black;
    --md-radio-focus-icon-color: black;
    --md-radio-selected-focus-icon-color: black;

    /* checkbox buttons */
    /* --md-checkbox-focus-outline-color: white;
    --md-checkbox-hover-outline-color: white;
    --md-checkbox-hover-state-layer-color: white ;
    --md-checkbox-hover-state-layer-opacity: 50%;
    --md-checkbox-outline-color: white;
    --md-checkbox-pressed-outline-color: white;
    --md-checkbox-pressed-state-layer-color: white;
    --md-checkbox-pressed-state-layer-opacity: 50%;
    --md-checkbox-selected-container-color: lightskyblue;
    --md-checkbox-selected-focus-container-color: lightskyblue;
    --md-checkbox-selected-focus-icon-color: white;
    --md-checkbox-selected-hover-container-color: lightskyblue;
    --md-checkbox-selected-hover-icon-color: white;
    --md-checkbox-selected-hover-state-layer-color: white;
    --md-checkbox-selected-hover-state-layer-opacity: 50%;
    --md-checkbox-selected-icon-color: white;
    --md-checkbox-selected-pressed-container-color: lightskyblue;
    --md-checkbox-selected-pressed-icon-color: white;
    --md-checkbox-selected-pressed-state-layer-color: white;
    --md-checkbox-selected-pressed-state-layer-opacity: 50%; */



    /* --md-checkbox-focus-outline-color: var(--color-checkbox-primary);
    --md-checkbox-hover-outline-color: var(--color-checkbox-secondary);
    --md-checkbox-hover-state-layer-color: var(--color-checkbox-primary);
    --md-checkbox-hover-state-layer-opacity: 50%;
    --md-checkbox-outline-color: var(--color-checkbox-secondary);
    --md-checkbox-pressed-outline-color: var(--color-checkbox-primary);
    --md-checkbox-pressed-state-layer-color: var(--color-checkbox-primary);
    --md-checkbox-pressed-state-layer-opacity: 40%;
    --md-checkbox-selected-container-color: var(--color-checkbox-secondary);
    --md-checkbox-selected-focus-container-color: var(--color-checkbox-primary);
    --md-checkbox-selected-focus-icon-color: var(--color-checkbox-secondary);
    --md-checkbox-selected-hover-container-color: var(--color-checkbox-secondary);
    --md-checkbox-selected-hover-icon-color: var(--color-checkbox-primary);
    --md-checkbox-selected-hover-state-layer-color: var(--color-checkbox-primary);
    --md-checkbox-selected-hover-state-layer-opacity: 40%;
    --md-checkbox-selected-icon-color: var(--color-checkbox-primary);
    --md-checkbox-selected-pressed-container-color: var(--color-checkbox-primary);
    --md-checkbox-selected-pressed-icon-color: var(--color-checkbox-primary);
    --md-checkbox-selected-pressed-state-layer-color: var(--color-checkbox-primary);
    --md-checkbox-selected-pressed-state-layer-opacity: 50%; */

    --color-checkbox-primary: var(--color-primary);
    --color-checkbox-secondary: var(--color-secondary);
    --md-checkbox-outline-color: var(--color-checkbox-secondary);
    --md-checkbox-hover-outline-color: var(--color-checkbox-secondary);
    --md-checkbox-selected-container-color: var(--color-checkbox-secondary);
    --md-checkbox-selected-focus-container-color: var(--color-checkbox-secondary);
    --md-checkbox-selected-pressed-container-color: var(--color-checkbox-secondary);
    --md-checkbox-selected-icon-color: var(--color-checkbox-primary);
    --md-checkbox-hover-state-layer-color: var(--color-checkbox-primary);

    /* Dialog */
    --md-dialog-container-color: lightskyblue;
    --md-dialog-headline-color: black;
    --md-dialog-headline-font: system-ui;
    --md-dialog-supporting-text-color: black;
    --md-dialog-supporting-text-font: system-ui;

    /* Tabs */
    --md-primary-tab-label-text-font: system-ui;        
    --md-primary-tab-container-color: var(--color-primary);
    --md-primary-tab-hover-label-text-color: white;
    --md-primary-tab-pressed-label-text-color: lightskyblue;
    --md-primary-tab-active-label-text-color: var(--color-secondary);
    --md-primary-tab-active-hover-label-text-color: white;
    --md-primary-tab-active-pressed-label-text-color: white;
    --md-primary-tab-active-indicator-color: var(--color-secondary);
    --md-primary-tab-label-text-color: #666666;
    --md-primary-tab-label-text-weight: bold;
    --md-divider-color: var(--color-secondary);


}

.m3_icon{
    vertical-align: bottom;
}

.md-button-on-primary {
    /* Outlined Button */
    --md-outlined-button-container-shape: 5px;
    --md-outlined-button-label-text-font: system-ui;
    --md-outlined-button-hover-label-text-color: var(--color-text);
    --md-outlined-button-hover-state-layer-color: var(--color-background);
    --md-outlined-button-hover-state-layer-opacity: 100;
    --md-outlined-button-outline-color: var(--color-secondary);
    --md-outlined-button-label-text-color: var(--color-secondary);

    /* Filled Button */
    --md-filled-button-container-shape: 5px;
    --md-filled-button-label-text-font: system-ui;
    --md-filled-button-container-color: var(--color-secondary);
    --md-filled-button-label-text-color: var(--color-text-secondary);
    --md-filled-button-hover-label-text-color: var(--color-text);
    --md-filled-button-hover-state-layer-color: var(--color-background);
    --md-filled-button-hover-state-layer-opacity: 100;

} 

.md-button-on-white {
    /* Outlined Button */
    --md-outlined-button-container-shape: 5px;
    --md-outlined-button-label-text-font: system-ui;
    --md-outlined-button-hover-label-text-color: var(--color-text);
    --md-outlined-button-hover-state-layer-color: var(--color-primary);
    --md-outlined-button-hover-state-layer-opacity: 100;
    --md-outlined-button-outline-color: var(--color-secondary);
    --md-outlined-button-label-text-color: var(--color-secondary);

    /* Filled Button */
    --md-filled-button-container-shape: 5px;
    --md-filled-button-label-text-font: system-ui;
    --md-filled-button-container-color: var(--color-secondary);
    --md-filled-button-label-text-color: var(--color-text-secondary);
    --md-filled-button-hover-label-text-color: var(--color-text);
    --md-filled-button-hover-state-layer-color: var(--color-primary);
    --md-filled-button-hover-state-layer-opacity: 100;
}

/* class to give md filled buttons an outline */
.md-button-manual-outline {
    border: 1px solid var(--color-secondary);
    border-radius: 7px;
}

